* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.continer {
  max-width: 1445px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding-left: 95px;
  padding-right: 100px;
}
body {
  font-family: sans-serif;
  
}
.header {
  display: flex;
  flex-direction: column;
  width: 1445px;
  margin: auto;
  
}
.blak1 {
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #454f5b;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 197px;
  padding-right: 95px;
  color: #ffffff;
  
}
.header-box{
  position: fixed;
  background-color: #ffffff;
  margin: auto;
  width: 100%;
  margin-top: -150px;
}
.blak1 a {
  color: #ffffff;
}
.blak2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  background-color: #ffffff;
  align-items: center;
  border-bottom: 1.5px solid #c4cdd5;
}
.blak2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  background-color: #ffffff;
}
ul a {
  text-decoration: none;
  color: #161c24;
  font-weight: 300;
  font-size: 20px;
  line-height: 23.87px;
}
.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.phone a {
  text-decoration: none;
  color: #161c24;
}



.glavnaya {

  display: flex;
  flex-direction: column;
 
  padding-bottom: 32px;
  margin-top: 150px;
}
.sbr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.glavnaya h5 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #141414;
}
.glavnaya h5 span {
  color: hwb(0 43% 56%);
}
.nakl {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
  padding-bottom: 32px;
}
.nakl span {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
.flt {
  padding: 7px 72px 7px 72px;
  text-align: center;
  margin-right: 31px;
  border: 1px solid#ADD7FF;
}
.zam {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 508px;
  color: #161c24;
}
.glavnaya .pop {
  width: 194px;
  padding: 7px 16px 7px 16px;
  border: 1px solid #c4cdd5;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #161c24;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.sena {
  display: flex;
  flex-direction: row;
  gap: 15px;
  
}
.golden1 {
  padding: 24px;
  border: 1px solid#C4CDD5;
  width: 320px;
  height: 520px;
}
.golden1 h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #161c24;
  margin-bottom: 47px;
}
.golden1 .Цвет {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #161c24;
  margin-bottom: 39px;
}
.rub {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 22px;
}
.rub p {
  padding: 10px 30px 10px 30px;
  border: 1px solid #eaeaea;
  text-align: center;
  width: 166px;
}
.rub span {
  padding: 10px 30px 10px 30px;
  border: 1px solid #eaeaea;
  width: 166px;
  text-align: center;
}
.Особенности {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #eaeaea;
}
.dver {
  width: 288px;
  height: 320px;
}
.eshig {
  width: 288px;
  box-shadow: 1px 1px 1px 1px #eaeaea;
  position: relative;
}
.str {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}
.str img {
  width: 16px;
  height: 16px;
}
.str p {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #454f5b;
}
.zamok {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #454f5b;
  margin-bottom: 10px;
}
.yell {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  width: 264px;
}
.narx {
  font-weight: 600;
  font-size: 20px;
  line-height: 23.87px;
  color: #161c24;
}
.oldnarx {
  font-weight: 300;
  font-size: 18px;
  line-height: 21.48px;
  color: #454f5b;
  margin-left: 12px;
  text-decoration: line-through;
}
.net {
  width: 127px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 17px;
  left: 12px;
}
.net img {
  padding: 3px 2px 3px 2px;
  background-color: #ffffff;
}
.sale {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.32px;
  padding: 8px 10px;
  background-color: #ffffff;
  position: absolute;
  top: 12px;
  right: 12px;
}
.padark {
  padding: 6px 8px;
  background-color: #ffffff;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.031);
  position: absolute;
  left: 12px;
  top: 49px;
}
.golden2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 30px;
}
.number {
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 390px;
  padding-bottom: 100px;
}
.number p {
  padding: 10px 11px;
}
.number a {
  text-decoration: none;
  color: #000000;
 
}
.number a:hover {
  background-color: green;
}
.vi {
  
  display: flex;
  flex-direction: column;
  

}
.prasmot{
  display: flex;
  flex-direction: column;
}
.pras h2{
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  color: #161C24;

}
.pras{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 64px;
  

}
.dveri{
  width: 1242px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.metus-co{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding-top: 96px;
  
}
.eget{
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #161C24;
  padding-bottom: 24px;
}
.odio{
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #454F5B;
  margin-bottom: 24px;
}
.gali{
  width: 605px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 24px;
  
}
.megdi{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #161C24;
  padding-bottom: 20px;
  padding-left: -10px;
}
.gali-megdi{
  
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.power{
  padding-bottom: 100px;
}
.metus{
  padding-bottom: 82px;
}
.vam{
  padding-top: 64px;
  padding-bottom: 56px;
  text-align: center;
  background-color: #F2F8FF;
}
.bam-continer{
  background-color: #F2F8FF;

}
.vam h2{
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  color: #161C24;
  padding-bottom: 24px;
}
.vam p{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 24px;
  color: #454F5B;
}
form{
  text-align: center;
  
  display: flex;
  flex-direction: row;
  gap: 22px;
  justify-content: center;

}
form input{
  width: 240px;
  height: 50px;
  background-color: rgba(22, 28, 36, 0.2);
  border-radius: 3px;
  border: 2px solid  rgba(22, 28, 36, 0.2);

}
form button{
  width: 240px;
  height: 50px;
background-color: #4295E4;
color: #FFFFFF;
border: 2px solid #4295E4;

}
.footer{
  background-color: #0D2436;
  
}
.footer-con{
  background-color: #0D2436;
  padding-top: 55px;
  display: flex;
  flex-direction: row;
  gap: 97px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.footer2{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer2 span{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  
}
.footer2 a{
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  opacity: 70%;
  width: 182px;
}
.footer1{
  display: flex;
  flex-direction: column;
  gap: 144px;
  padding-right: 120px;
}
.link1{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.old{
  background-color: #0D2436;
color: #eaeaea;
padding-top: 24px;
padding-bottom: 24px;
text-align: center;
}
